*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    padding-top: 0.3125rem; 
    padding-bottom: 0.3125rem; 
    justify-content: space-between;
    background-color: #02274c;
    height: 2.5rem;
}

.header-left{
    display: flex;
    margin-left: 3.75rem; 
}

.header-right {
    margin-top: 0.75rem; 
}

@media screen and (max-width: 906px) {
    .header {
        display: none;
    }
    .text-container {
        display: none;
    }
    .content-container {
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        
    }
    .form-container {
        margin: 0rem 0 3rem 0;
    }
}

h4{
    display: inline;
    color: white;
    font-size: 0.9375rem; 
    font-weight: 50;
}
.header1 {
    display: inline-flex;
    align-items: center; 
    margin-right: 1.5625rem; 
}

.header1 span {
    margin-right: 5px; 
    color: turquoise;
}

.header2 {
    display: inline;
    align-items: center;
    margin-right: 1.5625rem;

}


nav {
    background-color: #ffffff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0.625rem;
}

.navbar a{
    margin-right: 2.1875rem;
    
}

.hamburger {
    display: none;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    padding: 0 0.625rem;
}

nav a {
    color: rgb(22,54,81);
    text-decoration: none;
}

nav img{
    height: 2rem;
    padding-left: 1.5rem;
}

.navbar{
    display: flex;
    align-items: center;
}
.dropdown-btn {
    display: none;
    background-color: #02274c;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #02274c;
    width: 100%;
}

.dropdown-links {
    list-style: none;
    background-color: #02274c;
    padding: 0;
    margin: 0;
}

.dropdown-links li {
    padding: 1rem;
}

.dropdown-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}


@media screen and (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .nav-links {
        display: none;
    }

 
    .dropdown-btn {
        display: block;
        
    }
    

}


.banner-container {
    position: relative;
    width: 100%;
    height: 70vh; 
    overflow: hidden; 
}


.banner-image {
    width: 100%;
    height: 70vh;
    display: block;
}

@media screen and (max-width: 767px){
    .banner-container {
        height: 43vh;
    }
    .banner-image {
        height: 33rem;
    }
    .content-container{
        top: none;
        transform: translateY(-30%);
    }
}
@media screen and (max-width: 860px){
    .banner-image{
        height: 70vh;
    }
    .form-container{

    }
}


.content-container {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    color: #fff;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 676px) {
    .form-container {
        margin-top: 15.875rem;
    }
}



.text {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.625rem; 
    margin-right: 1.25rem; 
}
.text-container {
    margin: 8rem 0;
}

.large-text {
    margin-left: 1.875rem; 
    font-size: 2.5rem; 
}

.small-text {
    margin-left: 1.875rem; 
    margin-top: 0.625rem;
    font-size: 1.25rem; 
}
.text-container button {
    border-radius: 1rem; 
    background-color: turquoise;
    color: #fff;
    width: 6.25rem; 
    height: 1.875rem;
    margin-top: 1.875rem; 
    margin-left: 1.875rem; 
    border: none;
}

.text-container button:hover{
    background-color: #02274c;
}


.form-container {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 0.625rem 0.625rem; 
    color: #02274c;
    margin: 8rem 2rem 0 2rem;
    border-radius: 0.625rem; 

}

.form-container h3{
    margin-bottom: 1.25rem;
    margin-left: 1.25rem;
    font-size: 1.5rem;
}
.form-align {
    padding-top: 1.25rem;
    border-radius: 0.625rem;
    border-width: 0.0625rem;
    margin: 0.625rem 1.25rem;
}

.placeholder {
    width: 18.75rem; 
    border-radius: 1.25rem;
    border-width: 0.0625rem;
    height: 1.875rem;
}

.form-checkbox {
    margin-top: 1.25rem; 
    margin-left: 1.25rem; 

}

.btn-form {
    border-radius: 0.9375rem; 
    background-color: #02274c;
    color: #fff;
    width: 6.25rem; 
    height: 1.875rem; 
    margin-left: 1.25rem; 
    border: none;
}

.btn-form:hover {
    background-color: turquoise;
}



.card-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0.625rem 0.625rem;
}

.card {
    width: 18.75rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1.25rem; 
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    margin: 0.625rem; 
    border: none;
   
}


.card-title {
    font-size: 1.25rem; 
    font-weight: bold;
    margin-bottom: 0.625rem; 
}


.card-content {
    font-size: 1rem;
    color: #02274c;
   
}


.card-image {
    width: 50%;
    border-radius: 0.5rem;
    padding-bottom: 0.625rem;
    
}

@media screen and (max-width: 576px) {
    .banner-container{
        height: 50rem;
    }
    .banner-image {
        height: 50rem;
    }
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 18.75rem; 
    }

    .card-image {
        width: 100%;
    }

}





